*{
    box-sizing: border-box; /*taille a tout le monde */
}
#container div{
    width:50px;
    height:50px;
    background-color:rgb(203, 240, 235);


}
#container{
    /*width:150px;
    height:150px;*/
    display: flex;
    flex-wrap: wrap;
    /*column-width: 100px;*/
    /*column-count: 3;*/

}